.product-card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 0;
  height: 100%;
  background-color: var(--color-base-bg);
  position: relative;
  &__collection {
    grid-column: span 2;
  }
  &__head {
    display: flex;
    flex-direction: column;
  }

  &__head-images {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: 0.3s ease;
      transition-property: opacity, display;
    }

    &:hover {
      .product-image-2 {
        display: block;
      }

      .product-image-1 {
        opacity: 0;
      }
    }
  }

  &__head-info {
    display: flex;
    flex-direction: row;
    row-gap: 8px;
    width: calc(100% - 50px);
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 auto 20px;
    position: absolute;
    bottom: 25px;
    left: 0;
    padding: 0 25px;
    align-items: center;
    > strong {
      font-size: min(1.8055555556vw, 3.2098765432vh);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    &-variants {
      margin: 0 10px 10px;
    }

    button {
      margin: 0 10px 10px;
    }
  }
}
