
<h1 class="products-title">All books</h1>

{% schema %}
{
  "name": "books-collection",
  "tag": "section",
  "class": "books",
  "settings": [
    {
      "type": "range",
      "id": "pagination",
      "label": "Products by page",
      "unit": "Pr",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 6
    }
  ]
}
{% endschema %}
